/*
Theme Name:   Accelerate Theme Child
Theme URI:    http://example.com/accelerate-theme-child/
Description:  Accelerate Child Theme - Accelerate
Author:   	Casey Buscall
Author URI:   http://example.com
Template: 	accelerate-theme
Version:      2.0.0
Tags:     	light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain:  accelerate-theme-child
*/

/* HOMEPAGE STYLES */
.home-page {
    background: url("img/taxi-photo.jpg") no-repeat scroll right center / cover rgba(0, 0, 0, 0);
}

#masthead {
  background: none repeat scroll 0 0 #45ac9d;
}

#masthead nav ul li {
  float: left;
}

.button {
	background: none repeat scroll 0 0 #45ac9d;
}

#masthead nav ul li{
  float: left;
}

/* HOMEPAGE FEATURED CASE STUDIES STYLES */
.featured-work h4 {
  text-align: center;
}

.homepage-featured-work ul {
  text-align: center;
  clear: both;
  list-style: none;
  display: inline;
}

.individual-featured-work ul li {
  float: left;
  padding-right: .8em;
  margin-bottom: 3em;
  width: 100%;
}

.individual-featured-work ul li figure {
  margin-bottom: 20px;
}

.individual-featured-work h3  {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 400;
	font-size: .9em;
  text-decoration: none;
}




.blog-post {
	width: 50%;
	float: left;
	margin-bottom: 2em;
}

.blog-post h4 {
	font: 700 1em/1.75 'Montserrat', 'Open Sans', Arial, sans-serif;
	color: #a6a6a6;
	text-transform: uppercase;
	margin: 2em 0 .5em;
}

.blog-post h3 {
	font-size: 1.5em;
}

.read-more-link {
  font-family: 'Montserrat';
	font-weight: 700;
	color: #45ac9d;
	text-transform: uppercase;
}

/* Media Queries */
@media (min-width: 768px) {
    .blog-post {
    	width: 50%;
    	float: left;
      margin-bottom: 2em;
	}
}

/* CASE STUDIES STYLES */
article.case-study {
  margin: -25px 0 0;
}

aside.case-study-sidebar {
  float: left;
  width: 310px;
  margin: 0 44px 0 0;
}
div.case-study-images {
  float: left;
  width: 606px;
}
div.case-study-images img {
  margin: 50px -20px -20px -20px;
  border: 1px solid #dddddd;
}
